.images {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;
    justify-content: center;
    align-content: end;
}

.large {
    grid-row: span 2;
    height: 800px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .images {
        display: grid;
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(1, auto);
        grid-gap: 15px;
        justify-content: center;
        align-content: end;
    }
  }