body{
    background-color: #e3b86e;
    color:#6E99E3;
    font-family: 'Varela Round', sans-serif;
    padding: 0px;
    margin: 0px;
    margin-top: 0;  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    font-size: 1.5vw;   
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    font-family: 'Varela Round', sans-serif; 
    text-decoration: none;
    color:#6E99E3;
}

.main-container {
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: center;
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
} 

input { 
    color: #154aa4;
    font-family: 'Varela Round', sans-serif;
    font-size: medium;
    border-radius: 5px;
    border-color: #154aa4;
    margin: 5px;
    width: 200px;
}
button { 
    background-color: white;
    color: #154aa4;
    font-family: 'Varela Round', sans-serif;
    font-size: medium;
    border-radius: 5px;
    border-color: #154aa4;
    width: 150px;
    
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
    

}

h3 {
    display: flex;
    justify-content: center; 
    font-weight: normal;
    font-family: 'Varela Round', sans-serif;
    margin-top: 0px;

}
    

img {
    border-radius: 10px;
}

button {
    display: flex;
    width: 100px;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    color: white;
    background: teal;
    border-radius: 5px;
    font-size: 1vw;
    margin-top: 5px;
}

input {
    width: 150px;
    font-family: 'Varela Round', sans-serif;
}

@media screen and (max-width:1230px) {
    .main-container {
        display: grid;
        grid-template-columns: 600px;
        justify-content: center;
        
    }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

        a {
            display: block;
            padding: 8px;
            font-family: 'Varela Round', sans-serif; 
            text-decoration: none;
            color: white;
        }

        .main-container {
            display: grid;
            grid-template-columns: 600px;
            justify-content: center;
            
        }
        img {
            border-radius: 10px;
            height: 50vh;
        }

        h1 {
            display: flex;
            justify-content: center;
            font-weight: normal;
            font-family: 'Varela Round', sans-serif;
            font-size: 6vw;
            
        
        }
        
        h3 {
            display: flex;
            justify-content: center; 
            font-weight: normal;
            font-family: 'Varela Round', sans-serif;
            margin-top: 0px;
            font-size: 3vw;
        
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;  
            font-size: 2vw;  
        }
    }