body{
    background-color: #e3b86e;
    color: #6E99E3;
    font-family: 'Varela Round', sans-serif;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    font-size: 1.5vw;  
      
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    font-family: 'Varela Round', sans-serif; 
    text-decoration: none;
    color:#6E99E3;
}

a:hover{
    text-transform: uppercase;
    color: white;
  }

.site-title {
    display: flex;
    justify-content: center;
    font-size: 2vw;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    position: relative;
    text-align: center;   
}

.main-image {
    object-fit: fill;
}

.center-text {
    position: absolute;
    font-size: 2.4vw;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: block;
    
}

.photos {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    gap: 20px;  
      
}

.favs {
    display:flex;
    justify-content: center;
    align-content: center;
    padding: 85px;
    margin: 60px;
    font-size: 3vw;
}

.favorites {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(5, 400px);
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    margin: 20px;
    gap: 20px; 
} 

figcaption {
    text-align: center;
    font-size: 3vw;
    margin: 40px;
    color:#6E99E3;
    font-family: 'Varela Round', sans-serif;  
}

img {
    max-width: 100%;
    border-radius: 10px;
}

img:hover {
    -moz-box-shadow: 0 0 10px teal;
    -webkit-box-shadow: 0 0 10px teal;
    box-shadow: 0 0 10px teal;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 2vw;
    
    
}

@media only screen and (max-width:1073px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;  
        
        
    }
    
    li {
        float: left;
    }
    
    a {
        display: block;
        padding: 8px;
        font-family: 'Varela Round', sans-serif; 
        text-decoration: none;
        color: white;
    }
    
    .site-title {
        display: flex;
        justify-content: center;
    }
    
    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 80px;
        position: relative;
        text-align: center;   
    }
    
    .main-image {
        object-fit: fill;
    }
    
    .center-text {
        /* position: absolute; */
        font-size: 45px;
        color: white;
        font-family: 'Varela Round', sans-serif;
        /* display: block; */
        
    }
    
    .photos {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 500px;
        align-items: center;
        justify-content: center; 
        border-radius: 10px;
        gap: 20px;  
          
    }
    
    .favs {
        display:flex;
        justify-content: center;
        align-content: center;
        padding: 50px;
        margin: 50px;
    }
    
    .favorites {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(5, 400px);
        align-items: center;
        justify-content: center; 
        border-radius: 10px;
        margin: 20px;
        gap: 20px; 
    } 
    
    figcaption {
        text-align: center;
        font-size: xx-large;
        margin: 40px;
        color: white;
        font-family: 'Varela Round', sans-serif;  
    }
    
    img {
        max-width: 100%;
        border-radius: 10px;
    }
    
    h1 {
        font-family: 'Varela Round', sans-serif;
        font-weight: normal;
    }
    
}
@media screen and (max-width: 675px) {
    .center-text {
        font-size: 2vw;
        color: white;
        font-family: 'Varela Round', sans-serif;

    }

    .main-image {
        height: 300px;
        width: 600px;
    }

}
@media screen and (max-width:958px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;  
        
        
    }
    
    li {
        float: left;
    }
    
    a {
        display: block;
        padding: 8px;
        font-family: 'Varela Round', sans-serif; 
        text-decoration: none;
        color: white;
    }
    
    .site-title {
        display: flex;
        justify-content: center;
    }
    
    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 80px;
        position: relative;
        text-align: center;   
    }
    
    .main-image {
        object-fit: fill;
    }
    
    .center-text {
        position: absolute;
        font-size: 45px;
        color: white;
        font-family: 'Varela Round', sans-serif;
        display: block;
        
    }
    
    .photos {
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: 500px;
        align-items: center;
        justify-content: center; 
        border-radius: 10px;
        gap: 20px;  
          
    }
    
    .favs {
        display:flex;
        justify-content: center;
        align-content: center;
        padding: 50px;
        margin: 50px;
    }
    
    .favorites {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(5, 400px);
        align-items: center;
        justify-content: center; 
        border-radius: 10px;
        margin: 20px;
        gap: 20px; 
    } 
    
    figcaption {
        text-align: center;
        font-size: xx-large;
        margin: 40px;
        color: white;
        font-family: 'Varela Round', sans-serif;  
    }
    
    img {
        max-width: 100%;
        border-radius: 10px;
    }
    
    h1 {
        font-family: 'Varela Round', sans-serif;
        font-weight: normal;
    }
    
}

/* .main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url("") no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
} */

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;  
            font-size: 2vw;   
        }
        
        li {
            float: left;
        }
        
        a {
            display: block;
            padding: 8px;
            font-family: 'Varela Round', sans-serif; 
            text-decoration: none;
            color: white;
        }
        
        .site-title {
            display: flex;
            justify-content: center;
        }
        
        .main {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 80px;
            position: relative;
            text-align: center;   
        }
        
        .main-image {
            height: 250px;
            width: 375px;
        }
        
        .center-text {
            position: absolute;
            font-size: 5vw;
            color: white;
            font-family: 'Varela Round', sans-serif;
            display: block;
            
        }
        
        .photos {
            display: grid;
            grid-template-columns: 500px;
            grid-template-rows: 500px;
            align-items: center;
            justify-content: center; 
            border-radius: 10px;
            gap: 20px; 
           
              
        }
        
        .favs {
            display:flex;
            justify-content: center;
            align-content: center;
            padding: 50px;
            margin: 50px;
        }
        
        .favorites {
            display: grid;
            grid-template-columns: repeat(1, 300px);
            grid-template-rows: repeat(5, 400px);
            align-items: center;
            justify-content: center; 
            border-radius: 10px;
            margin: 20px;
            gap: 20px; 
        } 
        
        figcaption {
            text-align: center;
            font-size: xx-large;
            margin: 40px;
            color: white;
            font-family: 'Varela Round', sans-serif;  
        }
        
        img {
            max-width: 100%;
            border-radius: 10px;
        }
        
        h1 {
            font-family: 'Varela Round', sans-serif;
            font-weight: normal;
            font-size: 3vw;
        }

    }