html, body, header {
    margin: 0px;   
}

.main {
    background: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1682&q=80") no-repeat center fixed;   
    background-size: 100%;
    margin: 0; 
    position: relative;
    
}



body{
    background-color: #e3b86e;
    color:#6E99E3;
    font-family: 'Varela Round', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    font-size: 1.5vw; 
    display: flex;
    flex-direction: row;
} 


a {
    display: block;
    padding: 8px;
    font-family: 'Varela Round', sans-serif; 
    text-decoration: none;
    color:#6E99E3;
}

a:hover{
    text-transform: uppercase;
    color: white;
  }

h1 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 2vw;
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    font-style: italic;
}

.cards {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: repeat(4, 300px);
    row-gap: 125px; 
    column-gap: 15px;
    margin: 100px; 
    border-radius: 10px;
    justify-content: center;
}

img:hover {
        -moz-box-shadow: 0 0 10px teal;
        -webkit-box-shadow: 0 0 10px teal;
        box-shadow: 0 0 10px teal;
    }

h2 {
    display: flex;
    color:#6E99E3;
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center; 
    margin: 10px;
}

h3 {
    display: flex;
    color: #6E99E3;
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center; 
    margin: 5px;
    
} 



h4 {
    display: flex;
    flex-wrap: wrap;
    color:#6E99E3;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Varela Round', sans-serif;
    margin: 10px;
}

p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 190px;
    color: white;
    font-weight: bolder;
}

@media screen and (max-width:1385px) {
    .quote {
        display: flex;
        justify-content: center;
        font-size: xx-large;
        font-family: 'Varela Round', sans-serif;
        font-weight: normal;
        font-style: italic;
    }
    
    .cards {
        display: grid;
        grid-template-rows: 300px 300px;
        grid-template-columns: repeat(3, 300px);
        row-gap: 100px; 
        column-gap: 15px;
        margin: 100px; 
        border-radius: 10px;
        justify-content: center; 
    }
    
    
    h3 {
        display: flex;
        color: white;
        font-family: 'Varela Round', sans-serif;
        justify-content: center;
        align-items: center;
        align-content: center; 
        margin: 10px;
    }
    
    h4 {
        display: flex;
        flex-wrap: wrap;
        color: white;
        font-family: 'Varela Round', sans-serif;
        margin: 10px;
    }
    
    p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 190px;
        color: #BCDBDA;
        font-weight: bolder;
    }

}

@media screen and (max-width:1034px) {
    .quote {
        display: flex;
        justify-content: center;
        font-size: xx-large;
        font-family: 'Varela Round', sans-serif;
        font-weight: normal;
        font-style: italic;
    }
    
    .cards {
        display: grid;
        grid-template-rows: 300px 300px;
        grid-template-columns: repeat(2, 300px);
        row-gap: 100px; 
        column-gap: 15px;
        margin: 100px; 
        border-radius: 10px;
        justify-content: center;
    }
    
    h3 {
        display: flex;
        color: white;
        font-family: 'Varela Round', sans-serif;
        justify-content: center;
        align-items: center;
        align-content: center; 
        margin: 10px;
    }
    
    h4 {
        display: flex;
        flex-wrap: wrap;
        color: white;
        font-family: 'Varela Round', sans-serif;
        margin: 10px;
    }
    
    p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 190px;
        color: #BCDBDA;
        font-weight: bolder;
    }

}

@media screen and (max-width:725px) {
    .quote {
        display: flex;
        justify-content: center;
        font-size: xx-large;
        font-family: 'Varela Round', sans-serif;
        font-weight: normal;
        font-style: italic;
    }
    
    .cards {
        display: grid;
        grid-template-rows: 300px 300px;
        grid-template-columns: repeat(1, 300px);
        row-gap: 100px; 
        column-gap: 15px;
        margin: 100px; 
        border-radius: 10px;
        justify-content: center;
    }  
    h3 {
        display: flex;
        color: white;
        font-family: 'Varela Round', sans-serif;
        justify-content: center;
        align-items: center;
        align-content: center; 
        margin: 10px;
    }
    
    h4 {
        display: flex;
        flex-wrap: wrap;
        color: white;
        font-family: 'Varela Round', sans-serif;
        margin: 10px;
    }
    
    p {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 190px;
        color: #BCDBDA;
        font-weight: bolder;
    }


    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .main {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1682&q=80") no-repeat center center fixed;   
            /* width: 100%;  */
            position: relative;
            text-align: center;
        }

        .cards {
            display: grid;
            grid-template-rows: 300px 300px;
            grid-template-columns: repeat(1, 300px);
            row-gap: 100px; 
            column-gap: 15px;
            margin: 100px; 
            border-radius: 10px;
            justify-content: center;
            float: center;
        }  
        
        ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            margin: 0;
            padding: 0;  
            font-size: 4vw;   
        }
        
        li {
            float: left;
        }
        
        a {
            display: block;
            padding: 8px;
            font-family: 'Varela Round', sans-serif; 
            text-decoration: none;
            color: white;
        }

        .quote {
            font-size: 8vw;
        }
        
        .site-title {
            display: flex;
            justify-content: center;
        }
        
        .main {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 80px;
            position: relative;
            text-align: center;   
        }
        
        .center-text {
            position: absolute;
            font-size: 5vw;
            color: white;
            font-family: 'Varela Round', sans-serif;
            display: block;
            
        }
        
        .photos {
            display: grid;
            grid-template-columns: 500px;
            grid-template-rows: 500px;
            align-items: center;
            justify-content: center; 
            border-radius: 10px;
            gap: 20px;  
              
        }
        
        .favs {
            display:flex;
            justify-content: center;
            align-content: center;
            padding: 50px;
            margin: 50px;
        }
        
        .favorites {
            display: grid;
            grid-template-columns: repeat(1, 300px);
            grid-template-rows: repeat(5, 400px);
            align-items: center;
            justify-content: center; 
            border-radius: 10px;
            margin: 20px;
            gap: 20px; 
        } 
        
        figcaption {
            text-align: center;
            font-size: xx-large;
            margin: 40px;
            color: white;
            font-family: 'Varela Round', sans-serif;  
        }
        
        img {
            /* max-width: 100%; */
            border-radius: 10px;
        }
        
        h1 {
            font-family: 'Varela Round', sans-serif;
            font-weight: bold;
            font-size: 5vw;
            margin-bottom: 0px;
        }

        p {
            margin: 10vw;
        }

    }
}



