html {
    background: #98D7C2;
}

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

body {
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    color: #0C1446;
    font-family: 'Dosis', sans-serif;
    padding-top: 350px;
}

.sec-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #DDFFE7;
    border: #167D7F solid 2px;
    color: #167D7F;
    font-family: 'Dosis', sans-serif;
    border-radius: 2px;
    font-size: 16px;
}

input {
    background-color: #DDFFE7;
    border: #167D7F solid 2px;
    color: #167D7F;
    margin: 2px;
    font-family: 'Dosis', sans-serif;
    border-radius: 2px;
    font-size: 16px;
}

.sec-container {
    color: #0C1446;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
