.cards {
    display: flex;
    height: 800px;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    font-size: large;   
}

img {
    height: 300px;
    width:400px;
}
