body {
    background-color: #F0E1DE;
}

.main-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;   
}

h1 {
    margin: 30px;
    font-family: 'Varela Round', sans-serif;
    color: #549BAD;
}

input {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    background-color: #F7C9B6;
}

input[type="text"], text area {
    color: #549BAD;
    width: 200px;
}

button {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    color: #549BAD;
    width: 100px;
}

h3 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

.movie-cards { /* container that holds each movie*/
    display: grid;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }


.wholeBox { /* h3 and img*/
    display: flex;
    color: #549BAD;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    border-radius: 10px;
}

@media screen and (max-width: jumps){


}
