html {
    background-color: #181818;
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;
    justify-content: center;
    align-content: end;
}
.popular1 {
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 300px;
    width: 400px;
}

.popular2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 300px;
    width: 400px;
}

.popular3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 300px;
    width: 400px;
}

.popular4 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 300px;
    width: 400px;
}

.real1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 300px;
    width: 400px;
}

.real2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 300px;
    width: 400px;
}

.real3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 300px;
    width: 400px;
}

.real4 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 300px;
    width: 400px;
}

.favorite1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    height: 300px;
    width: 400px;
}

.favorite2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    height: 300px;
    width: 400px;
}

.favorite3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    height: 300px;
    width: 400px;
}

.favorite4 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    height: 300px;
    width: 400px;
}

nav {
    font-family: 'Bebas Neue';
    font-weight: bolder;
    font-size: xx-large;
    color: #cb1c11;
    background-color: black;
}

nav li {
    font-family: 'Bebas Neue';
    font-weight: bolder;
    font-size: small;
    color: white;
    padding: 5px;
}

ul {
    display: flex;
    list-style-type: none;
    float: right;
    margin: 0px;
}

.join {
    background-color: #cb1c11;
    border: none;
    color: white;
    padding: 0px;
    margin: 0px;
}

.signin {
    background-color: black;
    border: white;
    color: white;
    margin: 0px;
    padding: 0px;

}

h1 {
    color: white;
    font-family: 'Bebas Neue';
    font-weight: bolder;
}

h3 {
    color: white;
    font-family: 'Bebas Neue';
    font-weight: bolder;
}

.section1 {
    color: white;
    font-family: 'Bebas Neue';
    font-weight: bolder;
}

.section2 {
    color: white;
    font-family: 'Bebas Neue';
    font-weight: bolder;
}

.section3 {
    color: white;
    font-family: 'Bebas Neue';
    font-weight: bolder;
}

