.container1 {
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} 

.container1 div{
    border: 4px solid black;
    padding: 10px;
    margin: 10px;
}

.box-2 {
    flex-grow: 3;
    align-items: flex-start;
}