body{
    background-color: #e3b86e;
    color: white;
    font-family: 'Varela Round', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
    
    
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    font-family: 'Varela Round', sans-serif; 
    text-decoration: none;
    color: white;
}

.main-container {
    display: flex;
    float: right;
    /* justify-content: center;
    align-content: center; */
    flex-direction: row;
    /* align-items: center; */
}

.form-container {
    display: flex;
    float: right;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;  
}

/* img {
    display: flex;
    float: left;
} */

h1 {
    display: flex;
    justify-content: center;
    font-weight: normal;
}

img {
    border-radius: 10px;
}