body{
    background-color: #e3b86e;
    color: white;
    

}
.nav-bar {
    display: flex;
    justify-content: flex-end;
    
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    position: relative;
    text-align: center;   
}

.main-image {
    object-fit: fill;
}

.center-text {
    position: absolute;
    font-size: x-large;
    color: black;
    font-family: 'Patrick Hand', cursive;
    
}

.photos {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    gap: 20px;  
      
}

.favs {
    display:flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
    margin: 50px;
}

.favorites {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(5, 400px);
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    margin: 20px;
    gap: 20px; 
} 

figcaption {
    text-align: center;
    font-size: xx-large;
    margin: 40px;
    color: white;
    
    
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'Cinzel', serif;
}