body{
    background-color: #e3b86e;
    color: white;
    font-family: 'Varela Round', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
    
    
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    font-family: 'Varela Round', sans-serif; 
    text-decoration: none;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: normal;
}

.cards {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: repeat(4, 300px);
    row-gap: 15px; 
    column-gap: 15px;  
}

.fiction {
    background-color: white;
    border-radius: 5px;
}