body{
    background-color: #e3b86e;
    color: white;
    font-family: 'Varela Round', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    font-size: 1.5vw; 
    
    
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    font-family: 'Varela Round', sans-serif; 
    text-decoration: none;
    color: white;
}

input {
    
    color: black;
    font-family: 'Varela Round', sans-serif;
    font-size: medium;
}
button { 
    background-color: white;
    color: black;
    font-family: 'Varela Round', sans-serif;
    font-size: medium;
    border-radius: 5px;

}
.main-container {
    display: flex;
    flex-direction: column;  
    right: 2px;
    float: right;
    width: 500px;
    margin-right: 100px;
    
   
}

.book-title {
    margin-top: 30px;
}

.info-container {
    display: flex;
    flex-direction: column;
    float: right;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    padding: 0px;
    font-size: 2vw;
    
}

h2{
    display: flex;
    justify-content: center;
    font-weight: normal;
    margin: 0px;
}

h3 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    margin: 5px;

}

h4 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    margin: 5px;
}

a {
    display: flex;
    justify-content: center;
    border: 1px white;
}

.photo {
    display: flex;
    /* position: absolute; */
    justify-content: flex-start;
    margin: 20px;

}

@media screen and (max-width:1290px) {
    .main-container {
        display: flex;
        flex-direction: column;  
        right: 2px;
        /* float: right; */
        width: 500px;
        margin-right: 100px;
    }
    .info-container {
         display: flex;
        flex-direction: column;
        /* float: right; */
        }
    .photo {
         display: flex;
        /* position: absolute; */
        /* justify-content: flex-start; */
        margin: 20px;
        
        }
    }