body{
    background-color: #e3b86e;
    color: white;
    font-family: 'Varela Round', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
    
    
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    font-family: 'Varela Round', sans-serif; 
    text-decoration: none;
    color: white;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
}